@import '../../styles/main.scss';

$btnHeight: 56px;

.btn {
  width: 100%;
  min-height: $btnHeight;

  // Button is used only with this style
  // So no need to extract to a separate class
  margin-top: auto;

  background-color: $primaryPink;
  border-radius: 100px;
  font-size: $font-size-4;
  line-height: $space8x;
  color: $white;
  font-weight: $black;
  transition: opacity 0.3s;

  &:disabled {
    opacity: 0.4;
  }
}
