// Purple
$darkPurple: #1f002b;
$lightPurple: #36173d;

// Pink
$primaryPink: #e4229c;
$mutedPink: #6d4376;
$highlightPink: #e4229b;
$highlightPinkLight: #eb2f9a;

// Grey
$primaryGrey: #e8eaf2;
$secondaryGrey: #f2f3f5;
$mutedGrey: #c4c8cc;
$darkGrey: #b6b8c3;

// Red
$error: #dc2626;

// Base
$white: #ffffff;
