// Typography
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// Font Sizes
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-7: 28px;
$font-size-9: 36px;
$font-size-12: 52px;
